:root {
    --main-color: #feb57b;
    --spacing: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.disable {
    pointer-events: none;
}

header {
    padding: var(--spacing);
    height: 100vh;
    position: relative;
}

/* nav list */
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-list h1 {
    font-weight: 500;
    font-size: 23px;
    color: #000000;
}

.nav-list .menu {
    display: flex;
    align-items: center;
}

.nav-list .menu li {
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.nav-list .menu li::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: all 0.4s;
}

.nav-list .menu li:hover::before{
    width: 100%;
    background-color: var(--main-color);
}

.nav-list .menu .form-mobil {
    display: none;
}

.nav-list .main-form {
    position: relative;
}

.search {
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
}

.search::placeholder {
    color: #333;
}

.nav-list .main-form::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background-color: #333;
    transition: all 0.4s;
}

.nav-list .main-form:hover:before {
   width: 100%;
   background-color: var(--main-color);
}

.nav-list .menu-btn {
    display: none;
}

/* nav list */

/* header body */
.header-body {
    height: calc(100vh - 93px) ;
    position: relative;
}

.header-body .content {
    display: grid;
    grid-template-columns: 1fr 1fr 3em;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    gap: 50px;
}

.header-body  .slider {
    display: flex;
    justify-content: center;
    width: 700px;
    position: relative;
}


.header-body .slider .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    animation: slide3;
    z-index: 0;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.39, .8, .93, .42);

}

.header-body .slider .image {
    width: 600px;
} 
.header-body .slider .decoration-right {
    content: "";
    width: 14%;
    height: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    animation: slide2;
}

.header-body .slider .decoration-left {
    content: "";
    position: absolute;
    writing-mode: vertical-lr;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14%;
    height: 65%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 0.5px;
    font-size: 18px;
    animation: slide1;
}
.header-body .slider .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 0;
    animation: slide3;
    z-index: 0;
}

.header-body .slider .image {
    width: 600px;
}

.anim {
    animation-duration: 1s;
   animation-timing-function: cubic-bezier(.39, .8, .93, .42);
}


.header-body .slider img {
    height: 100%;
    width: 100%;
}


.header-body .text h1 {
    margin-bottom: 30px;
    font-size: 66px;
}

.header-body .text p {
    line-height: 1.9;
    font-size: 17px;
    color: #0000009e;
    margin-left: 30px;
    position: relative;
}

.header-body .text p::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 3px;
    height: 100%;
    background-color: var(--main-color);
}

.header-body .social {
    display: flex;
    writing-mode: vertical-lr;
    gap: 65px;
}

.header-body .social span {
    font-size: 14px;
    font-weight: 600;
    color: #333333de;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
}

.header-body .social span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translatey(-50%);
    width: 2px;
    height: 0%;
    background-color: black;
    transition: all 0.4s;
}

.header-body .social span:hover {
    color: var(--main-color);
}

.header-body .social span:hover:before {
    height: 100%;
    background-color: var(--main-color);
}
/* header body */

/* header bottom */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .controls {
    display: flex;
}

.header-bottom .controls span {
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.header-bottom .controls span::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 40%;
    background-color: black;
    height: 2px;
    transition: all 0.4s;
}

.header-bottom .controls span:hover::before {
    background-color: var(--main-color);
    width: 100%;
}

.header-bottom .pagination {
    display: flex;
    gap: 15px;
}

.header-bottom .pagination li {
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: all .4s;
}

.header-bottom .pagination .active {
    position: relative;
    color: var(--main-color);
}

.header-bottom .pagination .active::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 40%;
    height: 2px;
    transition: all 0.4s;
}

.header-bottom .pagination .active:hover:before {
    width: 100%;
}

.header-bottom > span {
    font-weight: 600;
    font-size: 17px;
}
/* header bottom */

/* responseve */
@media (max-width:1180px) {
    .header-body .content {
        grid-template-columns: 1fr 1fr;
    }
    .header-body .slider {
        width: auto;
        margin-left: 10px;
    }
    .header-body .slider .decoration-left {
        left: -27px;
    }
    .header-body .slider .decoration-right{
        right: -27px;
    }
    .header-body .slider .image {
        width: auto;
    }
    .header-body .text h1 {
        font-size: 55px;
    }
    .header-body .text p {
        font-size: 16px;
    }
    .header-body .social {
        writing-mode: inherit;
        justify-content: center;
    }
    .header-body .social span::before {
        bottom: -5px;
        top: auto;
        left: 50%;
        transform: translatex(-50%);
        width: 0;
        height: 2px;
    }
    .header-body .social span:hover:before {
        width: 100%;
        height: 2px;
    }
}

@media (max-width:850px) {
    header {
        height: auto;
    }
    .container {
        display: flex;
        gap: 100px;
        flex-direction: column;
    }
    .nav-list .menu-btn {
        display: block;
        font-size: 18px;
        cursor: pointer;
    }
    .nav-list .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        gap: 100px;
        left: 0;
        top: 5em;
        width: 100%;
        height: 0;
        background-color: white;
        opacity: 0;
        transition: 0.6s;
        overflow: hidden;
        z-index: 9;
    }
    .nav-list .menu .form-mobil {
        display: block;
        position: relative;
    }
    .nav-list .menu .form-mobil::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        width: 30%;
        height: 2px;
        background-color: #333;
        transition: all 0.4s;
    }
    .nav-list .menu .form-mobil:hover:before {
        width: 100%;
        background-color: var(--main-color);
    }
    .nav-list  .menu-open {
        overflow: visible;
        opacity: 1;
        height: 100vh;
    }
    .nav-list .main-form {
        display: none;
    }
    .header-body {
        height: auto;
    }
    .header-body .content {
        grid-template-columns: 1fr;
        position: relative;
        top: 0;
        transform: translateY(0%);
    }
    .header-body .slider .image {
        max-width: 100%;
    }
    .header-bottom .pagination {
        display: none;
    }
}

@media (max-width:440px) {
    header {
        padding: 25px;
    }
    .header-body .slider .decoration-right {
        right: -17px;
    }
    .header-body .slider .decoration-left {
        left: -17px;
    }
    .header-body .text h1 {
        font-size: 40px;
    }
    .header-body .social {
        gap: 30px;
    }
}
/* responseve */

/* animation */

@keyframes slide1 {
    0% {
        height: 0%;
    }
    100% {
        height: 65%;
    }
}

@keyframes slide2 {
    0% {
        height: 0%;
    }
    100% {
        height: 35%;
    }
}

@keyframes slide3 {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}




